$fontFamily: 'Griffy', cursive;

*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.Killer
{
    .page
    {
        background-image: url('../../images/forest-moon-background.jpg');
        background-size: cover !important;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 80px) !important;
        width: 100vw !important;
        .image-container
        {
            background-image: url('../../images/feature\ background.jpg');
            background-repeat: no-repeat !important;
            background-position: -50px;
            background-size: cover !important;
            cursor: pointer !important;
            display: block;
            height: 450px !important;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px !important;
            padding: 30px !important;
            transition: all ease .3s !important;
            width: 300px !important;
            &:hover
            {
                transform: translateY(-5px);
                box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.75);
            }
            img
            {
                height: 100%;
                width: 100%;
            }
        }
    }
    .flex-container
    {
        color: white !important;
        font-family: $fontFamily;
        width: 100vw;
        .full-name
        {
            margin-top: 20px;
            font-size: 1.25rem;
            text-align: center;
        }
        .name
        {
            animation: glitch 1s linear infinite !important;
            margin-top: 20px;
            font-size: 2.5rem;
            text-align: center;
        }
        .lore
        {
            margin-top: 20px;
            font-size: 1.25rem;
            max-width: 100vw;
            text-align: center;
            white-space: nowrap !important;
        }
        .backstory
        {
            margin-top: 5px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: left;
        }
        .perks
        {
            display: flex;
            flex-direction: column;
            .perk
            {
                img
                {
                    display: block;
                    height: 200px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 200px;
                }
                .perk-name
                {
                    margin-top: 10px;
                    text-align: center;
                }
                .perk-description
                {
                    margin-top: 10px;
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    max-width: 100vw;
                }
            }
        }
        .power
        {
            margin-top: 40px;
            text-align: center;
        }
        .overview
        {
            margin-top: 20px;
            padding-bottom: 80px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@keyframes glitch
{
    2%,64%{
    transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
    transform: translate(-2px,0) skew(0deg);
    }
    62%{
    transform: translate(0,0) skew(5deg); 
    }
}

@media only screen and (min-width: 1024px)
{
    .Killer
    {
        .page
        {
            align-items: flex-start;
            flex-direction: row;
            min-height: calc(100vh - 140px) !important;
            max-width: 100vw !important;
            .image-container
            {
                height: 550px !important;
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px !important;
                padding: 30px !important;
                transition: all ease .3s !important;
                width: 450px !important;
            }
            .flex-container
            {
                width: 75% !important;
                .full-name
                {
                    margin-top: 40px;
                    font-size: 1.25rem;
                    padding-left: 20px;
                    text-align: left;
                }
                .name
                {
                    animation: glitch 1s linear infinite !important;
                    font-size: 2.5rem;
                    margin-top: 20px;
                    padding-left: 20px;
                    text-align: left;
                }
                .lore
                {
                    margin-top: 20px;
                    font-size: 1.25rem;
                    margin-top: 40px;
                    padding-left: 20px;
                    text-align: left;
                }
                .backstory
                {
                    margin-top: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: left;
                    max-width: 100%;
                }
                .perks
                {
                    display: flex;
                    flex-direction: row;
                    .perk
                    {
                        img
                        {
                            display: block;
                            height: 200px;
                            margin-left: auto;
                            margin-right: auto;
                            width: 200px;
                        }
                        .perk-name
                        {
                            margin-top: 10px;
                            text-align: center;
                        }
                        .perk-description
                        {
                            margin-top: 10px;
                            text-align: left;
                            padding-left: 20px;
                            padding-right: 20px;
                            max-width: 100vw;
                        }
                    }
                }
                .power
                {
                    margin-top: 40px;
                    padding-left: 20px;
                    text-align: left;
                }
                .overview
                {
                    margin-top: 20px;
                    padding-bottom: 80px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
}