$fontFamily: 'Griffy', cursive;

*
{
    box-sizing: border-box !important;
    padding: 0px;
    margin: 0px;
}

.Character
{
    display: block;
    height: 175px;
    padding-top: 20px;
    position: relative;
    width: 150px;
    .component
    {
        cursor: pointer !important;
        height: 100%;
        width: 100%;
        img
        {
            display: block;
            height: 100% !important;
            width: 100% !important;
            &:hover
            {
                transform: translateY(-5px);
                box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.75);
            }
        }
        .overlay-block
        {
            align-items: center;
            background-color: rgba(0,0,0, 0);
            color: transparent;
            display: flex;
            font-family: $fontFamily;
            height: 155px;
            justify-content: center;
            margin-top: 20px !important;
            position: absolute !important;
            width: 100% ;
            top: 0px;
            &:hover
            {
                color: white;
                background-color: rgba(0,0,0, .25);
            }
        }
    }
   
}

@media only screen and (min-width: 1024px)
{
    .Character
    {
        display: block;
        height: 225px !important;
        padding-top: 20px;
        position: relative;
        width: 175px !important;
        .overlay-block
        {
            align-items: center;
            background-color: rgba(0,0,0, 0);
            color: transparent;
            display: flex;
            font-family: $fontFamily;
            height: 200px !important;
            justify-content: center;
            margin-top: 20px !important;
            position: absolute !important;
            width: 100% ;
            top: 0px;
            &:hover
            {
                color: white;
                background-color: rgba(0,0,0, .25);
            }
        }
    }
}

