$fontFamily: 'Griffy', cursive;

*
{
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
}

.Popup 
{
    align-items: center !important;
    background-color: rgba(25, 0, 0, 0.5);
    display: none;
    justify-content: center !important;
    position: fixed !important;
    left: 0px !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    top: 0px !important;
    .responsive-component
    {
        background-color: black !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 50% !important;
        padding-bottom: 40px !important;
        padding-top: 20px !important;
        position: relative !important;
        width: 50% !important;
        i
        {
            cursor: pointer !important;
            font-size: 1.25rem !important;
            height: fit-content !important;
            position: absolute !important;
            right: 25px !important;
            width: fit-content !important;   
        }
        h2
        {
            letter-spacing: .25rem !important;
            padding-top: 20px !important;
        }
    }
}