$fontFamily: 'Griffy', cursive;

*
{
    box-sizing: border-box !important;
    margin: 0px !important;
    padding: 0px !important;
}

// .Home
// {
//     // .desktop-page
//     // {

//     // }
//     // .mobile-page
//     // {

//     // }
// }