* {
  box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
}

.Home .desktop-page {
  background-image: url("../../images/forest-moon-background.jpg");
  background-size: cover !important;
  background-repeat: no-repeat;
  display: block;
  min-height: calc(100vh - 140px) !important;
  width: 100vw !important;
}
.Home .desktop-page .header {
  -webkit-animation: glitch 1s linear infinite !important;
          animation: glitch 1s linear infinite !important;
  color: white !important;
  font-family: "Griffy", cursive;
  font-size: 6rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1024px !important;
  padding-top: 40px !important;
  text-align: center !important;
}
.Home .desktop-page .grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 60px !important;
  place-items: center !important;
  width: 1024px !important;
}
.Home .desktop-page .grid img {
  height: 300px !important;
  width: 400px !important;
}
.Home .desktop-page .grid p {
  color: white !important;
  font-family: "Griffy", cursive;
  font-size: 2rem !important;
  padding-top: 40px !important;
  text-align: center !important;
}
.Home .desktop-page .header-2 {
  -webkit-animation: glitch 1s linear infinite !important;
          animation: glitch 1s linear infinite !important;
  color: white !important;
  font-family: "Griffy", cursive;
  font-size: 5rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1024px !important;
  padding-top: 40px !important;
  text-align: center !important;
}
.Home .desktop-page .image-row {
  align-items: center !important;
  display: flex !important;
  justify-content: space-evenly !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 40px 0px !important;
  width: 100% !important;
}
.Home .desktop-page .image-row .background {
  background-image: url("../../images/feature background.jpg");
  background-repeat: no-repeat !important;
  background-position: -50px;
  background-size: cover !important;
  cursor: pointer !important;
  height: 350px !important;
  padding: 30px !important;
  transition: all ease 0.3s !important;
  width: 250px !important;
}
.Home .desktop-page .image-row .background:hover {
  transform: translateY(-5px);
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.75);
}
.Home .desktop-page .image-row .background img {
  height: 100%;
  width: 100%;
}
.Home .mobile-page {
  display: none;
}

@-webkit-keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@media only screen and (max-width: 1024px) {
  .Home .desktop-page {
    display: none;
  }
  .Home .mobile-page {
    background-image: url("../../images/forest-moon-background.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
    display: block;
    min-height: calc(100vh - 80px) !important;
    width: 100vw !important;
  }
  .Home .mobile-page .header {
    -webkit-animation: glitch 1s linear infinite !important;
            animation: glitch 1s linear infinite !important;
    color: white !important;
    display: block;
    font-family: "Griffy", cursive;
    font-size: 2.5rem !important;
    height: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 350px !important;
    padding-top: 40px !important;
    text-align: center !important;
  }
  .Home .mobile-page .flex-container {
    display: flex !important;
    flex-direction: column !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100vw !important;
  }
  .Home .mobile-page .flex-container img {
    display: block !important;
    height: 300px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 40px !important;
    width: 75% !important;
  }
  .Home .mobile-page .flex-container p {
    color: white !important;
    font-family: "Griffy", cursive;
    font-size: 2rem !important;
    padding-top: 40px !important;
    text-align: center !important;
  }
  .Home .mobile-page .header-2 {
    -webkit-animation: glitch 1s linear infinite !important;
            animation: glitch 1s linear infinite !important;
    color: white !important;
    font-family: "Griffy", cursive;
    font-size: 2.5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100vw !important;
    padding-top: 80px !important;
    text-align: center !important;
  }
  .Home .mobile-page .images {
    width: 100vw !important;
  }
  .Home .mobile-page .images .background {
    background-image: url("../../images/feature background.jpg");
    background-repeat: no-repeat !important;
    background-position: -50px;
    background-size: cover !important;
    display: block;
    cursor: pointer !important;
    height: 350px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px !important;
    padding: 30px;
    transition: all ease 0.3s !important;
    width: 250px !important;
  }
  .Home .mobile-page .images .background:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.75);
  }
  .Home .mobile-page .images .background img {
    height: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=Home.css.map */